@if (!loading) {
    <div class="main-content">
        <app-header></app-header>
        <app-lateral-menu [hideSave]="true"></app-lateral-menu>

        <h1 class="form-title">Formulario de vinculación - proveedor</h1>

        <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
            <div class="content-row">
                <div class="content-col m-8">
                    <p class="small-p">
                        A continuación podrá cargar todos los documentos requeridos para avanzar con su proceso de contratación, si no cuenta con la totalidad de los documentos en este momento puede ir subiendolos a medida que los tenga, dando siempre GUARDAR, antes de salir de esta pantalla. Para ingresar de nuevo y continuar con la carga de documentos debe ingresar el link enviado en el mail DYNAMO-TE DAMOS LA BIENVENIDA y generar de nuevo un token de seguridad. <b>Recuerde que su contratación no se podrá realizar hasta que haya subido la totalidad de los documentos</b>
                    </p>
                </div>
                @for (doc of documents; track doc.id) {
                    <div class="content-col m-8">
                        <label [class]="doc.class" style="text-transform: uppercase;">
                            {{ doc.document_type }} ({{ doc?.allowed_extensions?.join(', ') }}) {{ doc?.required ? '*' : '' }}
                        </label>

                        @if (!!doc?.description) {
                          <p class="lbl-eng">
                            {{ doc.description }}
                          </p>
                        }

                        <app-filebox [formControlName]="'document_' + doc.id" [allowedExtensions]="doc?.allowed_extensions"></app-filebox>
                        <ng-container *ngTemplateOutlet="errorTemplate; context:{'control': 'document_' + doc.id}"></ng-container>
                    </div>
                }
            </div>
            <div class="content-buttons">
                <button type="submit">ENVIAR FORMULARIO</button>
            </div>
        </form>
    </div>
}
@else {
    <div class="loader">
        <div class="custom-loader"></div>
    </div>
}
<ng-template #errorTemplate let-control="control">
    @if (fDocuments[control].getError('required') != null && fDocuments[control].touched) {
        <span class="validation-label">{{ 'Campo requerido' }}</span>
    }
</ng-template>


@if (errorDocuments) {
    <div class="popup-container" (click)="closeErrorDocuments()">
      <div class="popup-body" (click)="$event.stopPropagation()">

          <p>
            Error al guardar los documentos, por favor intente de nuevo.
          </p>

        <div class="content-buttons">
          <button class="accept-button" type="button" (click)="closeErrorDocuments()">Aceptar</button>
        </div>

      </div>
    </div>
  }
