<div class="main-content">
    <app-header></app-header>
    <app-lateral-menu></app-lateral-menu>
    @if (!loading) {
        <h1 class="form-title">Formulario de vinculación - PROVEEDOR</h1>
        <app-previous-answers-vendor [serviceType]="serviceType" />
        <app-vinculation-vendor (notify)="submitForm($event)" [lists]="lists" [serviceType]="serviceType" [poRequestAnswers]="poRequestAnswers" />
    } @else {
        <div class="loader">
            <div class="custom-loader"></div>
        </div>
    }
</div>
