@if (!value) {
  <label
      class="content-file-input"
      appDragAndDropFile
      [extensiones_permitidas]="onlyPdf ? ['pdf'] : ['pdf', 'PDF', 'jpeg', 'jpg', 'png']"
      (onChangeFile)="onDragFileChange($event)"
      >
    <span>Arrastar y soltar o <a>buscar</a></span>
    @if (!onlyPdf) {
      <input  type="file" accept=".pdf, .jpeg, .png, .jpg" (change)="onFileChange($event)">
    } @else {
      <input  type="file" accept=".pdf" (change)="onFileChange($event)">
    }
  </label>
}
@else {
  <div class="content-file-filled">
    @if (value.url) {
      <span><a [href]="value.url" target="_blank">{{ value.name }}</a></span>
    }
    @else {
      <span>{{ value.name }}</span>
    }
    <button type="button" class="delete-button" (click)="changeView('comfirm-delete')">
      <span class="material-symbols-outlined">
        delete
      </span>
    </button>
  </div>
}

@if (view == 'comfirm-delete') {
  <app-dialog
    type="confirmation"
    title="Eliminar"
    message="¿Está seguro de que desea eliminar el documento?"
    (closeModal)="changeView()"
    (confirmModal)="clearFile()">
  </app-dialog>
}