.content-file-input{
    background-color: var(--light-box);
    border: 2px dashed var(--light-border-box);
    padding: 1rem;
    border-radius: 7px;
    margin: 0.2rem auto 0.5rem;
    text-align: center;
    font-weight: normal;
    font-size: var(--primary-font-size);
    color: var(--font-color);
    height: 56px;
  
    input{
      display: none;
    }
  
    a{
      color: var(--light-border-box);
      cursor: pointer;
    }
}
  
.content-file-filled{
    background: var(--background-light-color);
    display: flex;
    border: 1px solid var(--font-color);
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    max-width: 270px;
  
    span{
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}