<div class="dialog-cotainer" (click)="containerClose()">
	<div class="dialog-body">
		<h1 class="uppercase">
            {{title}}
        </h1>
        @if (item) {
            <p class="uppercase">
                {{item}}
            </p>
        }
		<p style="text-align: center;" [innerHTML]="message"></p>

        <div class="options">
            @switch (type) {
                @case ('confirmation') {
                    <button mat-raised-button class="submit small" (click)="confirm()">{{confirmText}}</button>
                    <button mat-raised-button class="cancel small" (click)="close()">{{ cancelText}}</button>
                }
                @case ('choose') {
                    <button mat-raised-button class="submit small" (click)="confirm()">{{confirmText}}</button>
                    <button mat-raised-button class="cancel small" (click)="cancel()">{{ cancelText}}</button>
                }
                @case ('alert') {
                    <button mat-raised-button class="submit small" (click)="close()">{{'Ok'}}</button>
                }
            }
        </div>
	</div>
</div>